<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.app.barfi">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity.ForceUpdateActivity"></activity>
        <activity
            android:name=".Activity.PaymentActivity"
            android:theme="@style/Theme.AppCompat.Dialog.Alert" android:screenOrientation="portrait"/>
        <activity android:name=".Activity.VerifyAccount" android:screenOrientation="portrait"/>
        <activity android:name=".Activity.WebViewActivity" android:screenOrientation="portrait"/>
        <!--
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        -->
        <!--
 <activity android:name=".Login.RegisterActivityOtp"
            android:windowSoftInputMode="adjustResize"> &lt;!&ndash;This goes in the specific activity with the button &ndash;&gt;
        </activity>
        -->
        <activity android:name=".NewUserDetails" android:screenOrientation="portrait"/>
        <activity android:name=".Login.OtpActivity" android:screenOrientation="portrait"/>
        <activity android:name=".Login.RegisterActivityOtp" android:screenOrientation="portrait"/>
        <activity android:name=".Fragments.OpenLocationSettings" android:screenOrientation="portrait"/>
        <activity android:name=".Activity.Birthday" android:screenOrientation="portrait"/>
        <activity
            android:name=".Login.LauncherActivity"
            android:theme="@style/AppTheme.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".Login.AuthenticationActivity" android:screenOrientation="portrait"/>
        <activity android:name=".Activity.EditProfileActivity" android:screenOrientation="portrait"/>
        <activity
            android:name=".Activity.ChatActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" android:screenOrientation="portrait"/>
        <activity
            android:name=".Activity.MainActivity"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"/>

        <activity android:name=".Activity.ZoomCardActivity" android:screenOrientation="portrait"/>
        <activity android:name=".Activity.SettingsActivity" android:screenOrientation="portrait"/>
        <activity android:name=".Activity.ZoomCardUser" android:screenOrientation="portrait"/>
        <activity android:name=".LikesContainerActivity" android:screenOrientation="portrait" />


        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.google.mlkit.vision.DEPENDENCIES"
            android:value="ocr,face" />


    </application>

    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="true" /> <!-- <uses-permission android:name="android.permission.CAMERA" /> -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

</manifest>